.competence.card {
    text-align: center;
    height: 125px;
}

.ui.cards>.editCompetence.card>.content>.header {
    color: #0d71bb;
}

.competence.card .icon {
    display: none;
}

.competence.card:hover .icon {
    display: inline;
    position: absolute;
    right: 10px;
    color: darkgrey;
}

.competence.card .icon:hover {
    display: inline;
    position: fixed;
    right: 10px;
    color: black;
}
