.schoolCard.card {
    text-align: center;
    height: 106px;
}

.schoolCard.card .icons {
    display: none;
    position: absolute;
    right: 10px;
}

.schoolCard.card:hover .icons {
    display: flex;
}

.schoolCard.card:hover .icons .icon {
    color: darkgrey;
}

.schoolCard.card:hover .icons .icon:hover {
    color: black;
}
