.domaine.card {
    text-align: center;
    height: 106px;
}

.domaine.card .icon {
    display: none;
}

.domaine.card:hover .icon {
    display: inline;
    position: absolute;
    right: 10px;
    color: darkgrey;
}

.domaine.card .icon:hover {
    display: inline;
    position: fixed;
    right: 10px;
    color: black;
}