.progressCell.container {
    display: flex;
}

.progressCell .green {
    background-color: #0ea432;
}

.progressCell .red {
    background-color: red;
}

.progressCell .item {
    flex-grow: 1;
    margin: 0px 2px 0px 2px;
}
